@model Game

@{
    ViewData["Title"] = "Game";
}

<div class="game-info-container">
    @* <button type="button" class="exit-btn" onclick="location.href='@Url.Action("EndGame", "Game")'" >End the Game </button> *@
    @{ await Html.RenderPartialAsync("ActionButton", Model.AwaibleAction);}
    @{await Html.RenderPartialAsync("QuestionList", Model.QuestionInfo); }
</div>
<div class="question-container">
    @Model.Question.QuestionText
</div>
<div class="answer-container">
    <div class="answer clickable" id="answer-a">
        <div class="question-letter">A) </div>
        @Model.Question.AnswerA
        </div>
    <div class="answer clickable" id="answer-b">
        <div class="question-letter">B) </div>
            @Model.Question.AnswerB
        </div>
    <div class="answer clickable" id="answer-c">
    <div class="question-letter">C) </div>
            @Model.Question.AnswerC
    </div>
    <div class="answer clickable" id="answer-d">
    <div class="question-letter">D) </div>
            @Model.Question.AnswerD
        </div>
</div>


